@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
  }

  body {
    font-family: "Montserrat", sans-serif;
  }
}

@layer components {
  .cta-link {
    @apply text-gray-700 hover:text-accent transition rounded-sm;
  }

  .btn {
    @apply px-6 py-1 rounded-md;
  }

  .btn-primary {
    @apply bg-accent border-2 border-accent text-gray-100 hover:bg-gray-100 transition hover:text-gray-700;
  }

  .btn-secondary {
    @apply bg-gray-100 border-2 border-accent text-gray-700 hover:bg-accent hover:text-gray-50 transition;
  }

  .focus {
    @apply focus:outline-none focus:ring-2 ring-offset-1 ring-accent;
  }
}
